#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Para centrar verticalmente */
}

header {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%; /* Ocupa todo el ancho */
  max-width: 800px; /* Tamaño máximo */
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #213547;
}

.card {
  padding: 2em;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ocupa todo el ancho */
  max-width: 600px; /* Tamaño máximo */
  margin-bottom: 2rem;
}

main {
  width: 100%;
  max-width: 800px; /* Limita el tamaño de la sección principal */
  background-color: #ffffff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


select, input{
  padding: 1rem 1.5rem;
}